html{
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#container {
    display: inline-flex;
    flex-wrap: wrap;
    max-height: 50%;
    justify-content: center;

    
}

#content {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
}

button{
    background-color: hsl(158, 84%, 32%);
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
    cursor: pointer;
}

.header {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding-left: 3rem;

}

#perfume {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-left: 3rem;
    text-transform: uppercase;

    
}

.price {
    display: inline-flex;
    padding-left: 3rem;
    
}

#currentprice {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3rem;
    font-weight: bold;
}

#strikeprice {
    text-decoration: line-through;
    font-size: 2rem;
    padding-left: 2rem;
    font-family: 'Fraunces', serif;
}

#description {
    color: hsl(228, 12%, 48%);
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding-right: 1rem;
    padding-left: 3rem;
}


#cart-icon {
    margin-right: 0.8rem;
}

@media only screen and (max-width:  687px) {
    #product-img {
      width: 100%;
    }
    
  }

button:hover{
    background-color: hsl(158, 36%, 37%);
}


